# Created by `zoo server`
/.zoo_server_pids

# Created by `zoo build`
/build-*

/src/scripts/lib
/scripts/*.js
/scripts/**/*.js
/scripts/lib

/styles/*.css
/styles/**/*.css
/styles/lib

/src/styles/lib

/beta
