# Created by `zoo server`
/.zoo_server_pids


# Created by `zoo build`
/build-*

/scripts/*
!/scripts/lib
/scripts/lib/zooniverse

/styles/*
!/styles/lib

/node_modules

/.ruby-version
/.rvmrc
/ruby

/npm-debug.log
