.audio-annotator {
	background: #ffc;
	border: 2px solid #cc9;
	display: inline-block;
	height: 320px;
	position: relative;
	width: 350px;
}

/* Frequency selection */

.frequency-selection {
	background: rgba(127, 127, 127, 0.5);
	min-height: 20px;
	left: 0;
	position: absolute;
	width: 100%;
}

.frequency-selection.bat {
	background: -moz-linear-gradient(top, #666, #333);
}

.frequency-selection.insect {
	background: -moz-linear-gradient(top, #696, #363);
}

.frequency-selection.machine {
	background: -moz-linear-gradient(top, #999, #666);
}

	.frequency-selection .drag-handle {
		background: inherit;
		cursor: move;
		height: 100%;
		padding-left: 20px;
		position: absolute;
		top: 0;
		right: 100%;
	}

	.frequency-selection .controls {
		background: inherit;
		height: 100%;
		left: 90%;
		opacity: 0;
		position: absolute;
		top: 0;
		-moz-transition:
			left 0.1s ease-in-out 0.1s,
			opacity 0.1s ease-in-out 0.1s;
	}

	.frequency-selection:hover .controls {
		left: 100%;
		opacity: 1;
	}

	.frequency-selection .time-track {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.frequency-selection .high-handle,
	.frequency-selection .low-handle {
		bottom: auto;
		border-bottom: 0 solid #000;
		border-top: 0 solid #000;
		cursor: ns-resize;
		height: 8px;
		left: 0;
		opacity: 0.5;
		position: absolute;
		top: 0;
		-moz-transition:
			border-width 0.1s ease-in-out 0.1s,
			height 0.1s ease-in-out 0.1s;
		width: 100%
	}

	.frequency-selection .low-handle {
		bottom: 0;
		top: auto;
	}

	.frequency-selection:hover .high-handle {
		border-top-width: 8px;
		height: 0;
	}

	.frequency-selection:hover .low-handle {
		border-bottom-width: 8px;
		height: 0;
	}

/* Sound selection */

.sound-selection {
	background: rgba(0, 0, 0, 0.33);
	height: 100%;
	min-width: 12px;
	position: absolute;
}

	.sound-selection .start-handle,
	.sound-selection .end-handle {
		border-left: 0 solid #000;
		border-right: 0 solid #000;
		cursor: ew-resize;
		height: 100%;
		left: 0;
		opacity: 0.5;
		position: absolute;
		right: auto;
		top: 0;
		-moz-transition:
			border-width 0.1s ease-in-out 0.1s,
			width 0.1s ease-in-out 0.1s;
		width: 8px;
	}

	.sound-selection .end-handle {
		left: auto;
		right: 0;
	}

	.sound-selection:hover .start-handle {
		border-left-width: 8px;
		width: 0;
	}

	.sound-selection:hover .end-handle {
		border-right-width: 8px;
		width: 0;
	}
