@import "constants";

html {
	background: #000 url("road.jpg") center top no-repeat fixed;
	color: $white;
	font: 12px Titillium, "Helvetica Neue", Arial, sans-serif;
	height: 100%;

	body {
		height: 100%;
		margin: 0;
	}
}

// Only show the current translation.
html[lang="en"] [lang]:not([lang="en"]),
html[lang="de"] [lang]:not([lang="de"]),
html[lang="pl"] [lang]:not([lang="pl"]) {
	display: none;
}

#bats-bg {
	background: url("bats.png") 0 0 no-repeat;
	height: 100%;
	left: 0;
	opacity: 0.67;
	position: fixed;
	top: 0;
	width: 100%;
}

#app {
	margin: 0 auto;
	width: 75%;

	> header {
		background: url("rule.png") center bottom no-repeat;

		> nav {
			padding: 70px 0 40px;
			position: relative;

			> ul {
				display: table;
				border: 0;
				border-collapse: collapse;
				margin: 0;
				padding: 0;
				position: relative;
				table-layout: fixed;
				width: 100%;
				z-index: 1;

				> li {
					display: table-cell;
					text-align: left;
					width: 1%;

					&.logo {
						text-align: center;
						width: 2%;

						img {
							vertical-align: -45px;
						}

						~ li {
							text-align: right;
						}
					}

					> a {
						color: inherit;
						padding: 10px 0;
						text-decoration: none;
						text-transform: uppercase;

						&:hover,
						&.active {
							color: $gold;
						}
					}
				}
			}
		}
	}

	#main {
		position: relative;

		// Main pages
		> section {
			@include transition(#{left 0.25s ease-in-out, opacity 0.25s ease-in-out});
			clear: both;
			height: 100%;
			left: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 100%;

			&.active {
				height: auto;
				opacity: 1;
				position: relative;
				z-index: 1;
			}

			&.before {
				left: -16.67%;

			}

			&.after {
				left: 16.67%;
			}

			// Second-level tabs
			> section {
				display: none;

				&.active {
					display: block;
				}
			}

			> header {
				> nav {
					font-size: 14px;

					> ul {
						padding: 0;

						> li {
							display: inline-block;

							> a {
								background: $white-trans-medium;
								color: $black;
								display: block;
								padding: 5px 10px;
								text-decoration: none;
								text-transform: uppercase;

								&:hover {
									background: $white-trans-low;
								}

								&.active {
									background: $gold;
								}
							}
						}
					}
				}
			}
		}

		.primary {
			float: left;
			max-width: 33%;
		}

		.secondary {
			float: right;
			max-width: 33%;
		}

		h2 {
			font: {
				size: 24px;
				weight: normal;
			}
			text-transform: uppercase;
		}

		h3 {
			font: {
				size: 16px;
				weight: normal;
			}
			text-transform: uppercase;
		}

		p {
			margin: 2em 0;
		}

		a.play {
			// TODO: Background image
			font-size: 12px;
		}
	}

	a {
		color: $gold;
		text-decoration: none;

		img {
			border: 0;
		}
	}
}
