@import "constants";

.sound-classifier {
	@include box-sizing(border-box);
	border: 1px solid $gray;
	position: relative;

	> .controls {
		@include linear-gradient(top, $gray, $gray-dark);
		position: relative;
		z-index: 1;

		> .play,
		> .pause {
			background: transparent;
			border: 0;
			color: inherit;
			cursor: pointer;
			font: {
				size: 14px;
				weight: bold;
			}
			padding: 3px 10px;
			text-shadow: 0 1px 1px $gray-darkest;
		}

		> .pause {
			display: none;
		}

		> .seek {
			@include linear-gradient(top, $gray-darkest, $gray);
			border: 1px solid $gray-dark {
				width: 1px 0;
			}
			padding: 0 10px;

			> .track {
				height: 20px;
				position: relative;

				> .fill {
					@include linear-gradient(left, transparent, $white-trans-medium);
					height: 50%;
					left: 0;
					position: absolute;
					top: 25%;
					width: 0; // Updates on play
				}

				> .thumb {
					background: $gray-lightest;
					border-radius: 5px;
					box-shadow: 0 0 2px $gray-darkest;
					height: 10px;
					left: 0; // Updates on play
					margin-left: -5px;
					position: absolute;
					top: 5px;
					width: 10px;
				}
			}
		}
	}

	> .image {
		position: relative;

		> .axis {
			@include box-sizing(border-box);
			border-bottom: 1px solid;
			color: $gray-lighter;
			font-size: 9px;
			height: 100%;
			opacity: 0.33;
			position: absolute;
			right: 101%;
			top: 0;
			width: 15px;

			> .space {
				@include box-sizing(border-box);
				border-top: 1px solid;
				height: 8.33%;
				margin-left: 25%;
				position: relative;
				width: 50%;

				&:first-child {
					margin-left: 0;
					width: 100%;
				}

				> .label {
					line-height: 1;
					margin-right: 5px;
					position: absolute;
					right: 100%;
					top: -0.5em;
					white-space: nowrap;
				}
			}

			&:after {
				border-right: 1px solid;
				content: " ";
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 50%;
			}
		}

		> .sonogram {
			display: block;
			width: 100%;
		}

		> .seek-line {
			background: green;
			display: none;
			height: 100%;
			left: 0;
			margin-left: -1px;
			position: absolute;
			top: 0;
			width: 2px;
		}
	}

	&.playing {
		> .controls {
			> .play {
				display: none;
			}

			> .pause {
				display: inline-block;
			}
		}

		> .image > .seek-line {
			display: block;
		}
	}

	&.seeking > .image > .seek-line {
		display: block;
	}

	> .details {
		color: $gray-light;
		float: left;
		font: {
			size: 14px;
			weight: bold;
		};
		margin: 20px 0;
		text-transform: uppercase;
		width: 67%;

		> .field {
			float: left;
			width: 25%;
		}

		> .location:before,
		> .environment:before,
		> .date:before,
		> .time:before {
			background: url("sonogram-details-icons.png") 0 0 no-repeat;
			content: " ";
			display: inline-block;
			height: 24px;
			margin: 0 3px 3px 0;
			vertical-align: middle;
			width: 24px;
		}

		> .location:before {
			background-position: -13px -4px;
			width: 18px;
		}

		> .environment:before {
			background-position: -41px -3px;
			width: 32px;
		}

		> .date:before {
			background-position: -83px -3px;
		}

		> .time:before {
			background-position: -116px -4px;
		}
	}

	> .action {
		float: right;
		font: {
			size: 14px;
			weight: bold;
		};
		margin: 20px 0;
		text: {
			align: right;
			transform: uppercase;
		};
		width: 33%;

		> .clear,
		> .done {
			@include box-sizing(border-box);
			background: $gray-darker;
			border: 1px solid $gray;
			color: inherit;
			cursor: pointer;
			font: {
				family: inherit;
				size: inherit;
				weight: inherit;
			};
			padding: 10px 0 5px;
			width: 49%;
		}

		> .done {
			background: $gold;
			box-shadow: 0 0 0 2px $gray-darker inset;
			color: $black;
		}
	}
}
