<div class="image">
	<!--<iframe src="http://maps.stamen.com/watercolor/embed#13/41.8500/-87.6828"></iframe>-->
</div>

<div class="content">
	<section class="location">
		<header>Location</header>
		<div class="field">Paris, France</div>
	</section>

	<section class="habitat">
		<header>Habitat</header>
		<div class="field">Urban</div>
	</section>

	<section class="date">
		<header>Date</header>
		<div class="field">February 25, 1984</div>
	</section>

	<section class="time">
		<header>Time</header>
		<div class="field">12:34pm</div>
	</section>

	<section class="common-species">
		<header>Common species</header>
		<div class="field">Vampire bats</div>
	</section>
</div>
