<div class="map">
	<p>This is a map.</p>
</div>

<section class="location">
	<header>Location</header>
	<div class="field"></div>
</section>

<section class="habitat">
	<header>Habitat</header>
	<div class="field"></div>
</section>

<section class="date">
	<header>Date</header>
	<div class="field"></div>
</section>

<section class="time">
	<header>Time</header>
	<div class="field"></div>
</section>

<section class="common-species">
	<header>Common species</header>
	<div class="field"></div>
</section>
