<div class="image">
	<div class="axis">
		<div class="space"><div class="label">110 KHz</div></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"><div class="label">55 KHz</div></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
	</div>

	<img src="/404.png" class="sonogram" />

	<div class="seek-line"></div>
</div>

<div class="seek">
	<div class="track">
		<div class="fill"></div>
		<div class="thumb"></div>
	</div>
</div>

<div class="controls">
	<button class="play">Play</button>
	<button class="pause">Pause</button>

	<div class="details">
		<div class="location field">
			<span class="value"></span>
		</div>

		<div class="environment field">
			<span class="value"></span>
		</div>

		<div class="date field">
			<span class="value"></span>
		</div>

		<div class="time field">
			<span class="value"></span>
		</div>
	</div>

	<div class="actions">
		<button class="done">Done</button>
	</div>
</div>
