<div class="player">
	<div class="image">
		<div class="axis">
			<div class="space"><div class="label">110 KHz</div></div>
			<div class="space"></div>
			<div class="space"></div>
			<div class="space"><div class="label">83 KHz</div></div>
			<div class="space"></div>
			<div class="space"></div>
			<div class="space"><div class="label">55 KHz</div></div>
			<div class="space"></div>
			<div class="space"></div>
			<div class="space"><div class="label">28 KHz</div></div>
			<div class="space"></div>
			<div class="space"></div>
			<div class="space"><div class="label">0 KHz</div></div>
		</div>

		<img class="sonogram" />

		<div class="seek-line"></div>
	</div>

	<div class="seek">
		<div class="track">
			<div class="fill"></div>
			<div class="thumb"></div>
		</div>
	</div>

	<div class="controls">
		<button class="play">&#9654;</button>
		<button class="pause">&#10073; &#10073;</button>
	</div>
</div>
