<div class="image">
	<div class="axis">
		<div class="space"><div class="label">110 KHz</div></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"><div class="label">55 KHz</div></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
	</div>

	<img src="/404.png" class="sonogram" />

	<div class="seek-line"></div>
</div>

<div class="seek">
	<div class="track">
		<div class="fill"></div>
		<div class="thumb"></div>
	</div>
</div>

<div class="controls">
	<div class="leading group">
		<button class="play">Play</button>
		<button class="pause">Pause</button>
		<button class="field-guide">Field guide</button>
	</div>

	<div class="trailing group">
		<div class="details">
			<div class="location field">
				<span class="value"></span>
			</div>

			<div class="environment field">
				<span class="value"></span>
			</div>

			<div class="date field">
				<span class="value"></span>
			</div>

			<div class="time field">
				<span class="value"></span>
			</div>
		</div>

		<button class="done">Done</button>
	</div>
</div>

<article class="field-guide">
	<header>Field guide</header>
	<p>The bats you'll be identifying make several distinct calls, blah blah etc.</p>
	<p>Images and most clips below are missing, and the clips will be way shorter.</p>

	<header>Bats</header>
	<ul class="examples">
		<li>
			<img src="404.png" />
			<button data-audio-src="example-data/audio/1.mp3">Social</button>
		</li>
		<li>
			<img src="404.png" />
			<button data-audio-src="example-data/audio/2.mp3">Searching</button>
		</li>
		<li>
			<img src="404.png" />
			<button data-audio-src="example-data/audio/3.mp3">Feeding</button>
		</li>
	</ul>

	<header>Insects</header>
	<ul class="examples">
		<li><button data-audio-src="">Insect</button></li>
		<li><button data-audio-src="">Insect</button></li>
		<li><button data-audio-src="">Insect</button></li>
	</ul>

	<header>Machines</header>
	<ul class="examples">
		<li><button data-audio-src="">Machine</button></li>
		<li><button data-audio-src="">Machine</button></li>
		<li><button data-audio-src="">Machine</button></li>
	</ul>
</article>
