$text-color: rgb(26, 26, 26);
$text-color-off: rgb(110, 110, 100);
$paper-color: rgb(243, 241, 237);
$paper-color-off: rgb(200, 200, 190);

@mixin details-button {
  @include box-shadow(0 1px 0 $white);
  @include linear-gradient(#e4e2dc, #d5d3cd);
  border: 1px solid darken($paper-color-off, 10%);
  color: $text-color-off;
  cursor: pointer;
  display: inline-block;
  font: {
    family: inherit;
    size: inherit;
    weight: bold;
  };
  letter-spacing: 1px;
  padding: 5px 20px 5px;
  text: {
    decoration: none;
    shadow: 0 1px 0 $white;
    transform: uppercase;
  };

  &.active {
    @include linear-gradient($text-color-off, $text-color-off);
    color: $paper-color;
    text-shadow: none;
  }
}

.bat-detective.app .details {
  box-shadow: 0 3px 5px transparentize($black, 0.5);
  font-size: 13px;
  margin: 40px 0;

  [data-page] {
    display: none;

    &.active {
      display: block;
    }
  }

  nav {
    &.primary {
      ul {
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 100%;

        &:before {
          background: $paper-color-off;
          bottom: 0;
          border-radius: 3px 3px 0 0;
          content: " ";
          height: 1em;
          left: 0;
          padding: 10px 0 10px;
          position: absolute;
          width: 100%;
          z-index: -1;
        }

        li {
          display: inline-block;
          float: left;
          margin-left: $gutter-size;

          &:first-child {
            margin-left: 0;
          }

          a {
            @include box-sizing(border-box);
            border-radius: 3px 3px 0 0;
            color: $text-color-off;
            display: block;
            font-weight: bold;
            letter-spacing: 1px;
            padding: 15px 0 5px;
            text: {
              align: center;
              transform: uppercase;
            };
            width: $one-quarter;

            &.active {
              background: $paper-color;
              color: $text-color;
              opacity: 1;
            }
          }
        }
      }
    }

    &.secondary {
      margin-bottom: 1em;

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;

          a {
            @include details-button;
          }
        }
      }
    }

    &.tertiary {
      ul {
        margin: 0;
        padding: 0;

        li {
          display: block;

          a {
            color: $text-color-off;
            display: inline-block;
            font-weight: bold;
            line-height: 1;
            margin-bottom: 10px;
            position: relative;

            & + button {
              display: none;
              font-size: 9px;
              margin: 0 3px;
              padding: 0 3px;
            }

            &.active {
              color: $red;

              & + button {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }

  > section,
  > div {
    @include clearfix;
    background: $paper-color;
    color: $text-color;
    padding: $gutter-size * 1.5;

    section {
      @include clearfix;
    }

    .column {
      @include box-sizing(border-box);
      float: left;
      min-height: 1px;
      padding-left: $gutter-size;

      &:first-child {
        padding-left: 0;
      }

      &.one-quarter {width: 25%;}
      &.one-third {width: 33%;}
      &.one-half {width: 50%;}
      &.two-thirds {width: 67%;}
      &.three-quarters {width: 75%;}
    }

    a {
      color: $red;
    }

    button {
      @include details-button;
    }
  }
}
