.home-map {
  @include transition(opacity 0.5s ease-in-out);
  background: $black;
  border-bottom: 1px solid transparentize($white, 0.67);
  height: 295px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 105px;
  width: 100%;

  .cartodb-logo {
    bottom: 0;
    opacity: 0.5;
    position: absolute;
    right: 4px;
    z-index: 9;

    &:hover {
      opacity: 1
    }
  }

  &:after {
    @include linear-gradient(transparentize($black, 0.5), transparentize($black, 1), $fallback: transparent);
    content: " ";
    height: 125px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &.active {
    opacity: 1;

    + .app {
      margin-top: 150px;
    }
  }
}

.world-tour-banner {
  padding-top: 2em;
  text-align: center;
  text-shadow: 0 1px 1px black;

  h2 {
    font-size: 1.6em;
  }

  p {
    font-size: 1.3em;
  }

  a {
    @include transition(color 0.25s ease-in-out);
    color: inherit;
    position: relative;
    white-space: nowrap;

    &:hover {
      color: $gold;
    }
  }
  
  .progress-bar {
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0;
    height: 1em;
    line-height: 1;
    
    .progress {
      display: inline-block;
      background: white;
      height: 1em;
    }
  }
}

.bat-detective.app [data-page="home"] {
  h2 {
    font: {
      size: 44px;
      weight: bold;
    };
    text-shadow: 0 1px 1px $black;

    a {
      @include transition(color 0.25s ease-in-out);
      color: inherit;
      position: relative;
      white-space: nowrap;

      &:hover {
        color: $gold;
      }

      &:after {
        border-bottom: 1px dashed transparentize($white, 0.75);
        bottom: 5px;
        content: " ";
        height: 0;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
}
