.bat-detective.app [data-page="profile"] {
  $info-column-color: #f3f1ed;
  $stats-column-color: #e7e5e0;
  $profile-border-color: #d0cec9;

  color: $black;

  > .login-form {
    @include box-sizing(border-box);
    background: $white;
    border: 3px solid $gold;
    box-shadow: 0 3px 3px -3px $black;
    margin-left: $one-quarter;
    padding: $gutter-size * 1.5;
    width: $one-half;
    text-align: center;

    label {
      display: block;
      margin-bottom: $gutter-size;

      span {
        display: inline-block;
        font-weight: bold;
        width: 80px;
      }
    }

    button {
      @include linear-gradient(lighten($gold, 5%), darken($gold, 10%));
      border-radius: 3px;
      font-weight: bold;
      margin-left: 80px;
      padding: 5px 20px;
    }
  }

  > .profile {
    @include clearfix;
    @include linear-gradient(left, $info-column-color $two-thirds, $stats-column-color $two-thirds);

    h3 {
      color: $red;
      font: {
        size: 14px;
        weight: bold;
      };
    }

    a {
      color: inherit;
      border-bottom: 1px dotted transparentize($gray, 0.5);
    }

    .map {
      display: none;
      height: 250px;
    }

    > .info {
      @include box-sizing(border-box);
      float: left;
      padding: $gutter-size ($gutter-size * 2);
      width: $two-thirds;

      > .favorites {
        margin: ($gutter-size * 2) 0;

        > ul {
          margin: 0;
          padding: 0;

          > li {
            @include clearfix;
            display: block;
            margin: 0 0 $gutter-size;
            position: relative;

            .spectrogram-player {
              float: left;
              margin-right: $gutter-size;
              position: relative;
              width: $one-sixth;

              img {
                max-width: 100%;
              }

              .controls {
                $button-size: 72px;

                opacity: 0.5;
                left: 0;
                margin-top: -$button-size / 2;
                position: absolute;
                text-align: center;
                top: 50%;
                width: 100%;

                button {
                  color: $white;
                  font-size: $button-size / 2;
                  height: $button-size;
                  width: $button-size;
                }
              }
            }

            h4 {
              font-size: 20px;
              letter-spacing: 0;
              margin: 0;
              text-transform: none;
            }

            .talk {}
          }
        }
      }
    }

    > .stats {
      float: right;
      position: relative;
      width: $one-third + $gutter-size;
      z-index: 2;

      > section {
        padding: $gutter-size;
        border-bottom: 3px solid $profile-border-color;

        &.recent {
          display: none;

          > .location {
            font-size: 30px;
          }
        }

        &.findings {
          font-weight: bold;

          > div {
            margin-bottom: $gutter-size / 2;

            > .value {
              font-size: 30px;
            }
          }
        }

        &.groups {
          > ul {
            display: none;
          }
        }
      }
    }
  }

  &.has-recents {
    > .profile {
      .map {
        display: block;
      }

      .stats {
        &:before {
          bottom: 100%;
          border: {
            color: transparent transparent $stats-column-color;
            style: solid;
            width: 0 20px 20px;
          };
          content: " ";
          height: 0;
          left: $gutter-size;
          position: absolute;
          width: 0;
        }
      }
    }
  }
}
