body {
  margin: 0;
  overflow: hidden;
}

.spectrogram-player {
  background: #000;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .spectrogram {
    bottom: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }

    .seek-line {
      background: #999;
      height: 100%;
      left: auto;
      position: absolute;
      top: 0;
      width: 1px;
    }
  }

  .seek {
    bottom: 30px;
    left: 0;
    position: absolute;
    height: 10px;
    width: 100%;

    .track {
      height: 100%;
      position: relative;

      .fill {
        background: #333;
        border-right: 1px solid #999;
        height: 100%;
      }

      .thumb {}
    }
  }

  .controls {
    bottom: 0;
    left: 0;
    line-height: 30px;
    position: absolute;
    height: 30px;
    width: 100%;

    button {
      background: transparent;
      border: 0;
      color: #fff;
      cursor: pointer;
      padding: 5px 10px;

      &.play {}

      &.pause {
        display: none;
      }
    }
  }

  &.loaded .seek {
    cursor: ew-resize;
  }

  &.playing .controls button {
    &.play {
      display: none;
    }

    &.pause {
      display: inline-block;
    }
  }
}
