// Colors

$black: #000;
$gray: #64635e;
$white: #fff;
$red: #8e1e00;
$gold: #f5bd00;

// Grid

$twelfth-width: 65px;
$gutter-width: 20px;
$quarter-width: ($twelfth-width * 3) + ($gutter-width * 2);
$half-width: ($twelfth-width * 6) + ($gutter-width * 5);
$third-width: ($twelfth-width * 4) + ($gutter-width * 3);
$two-third-width: ($third-width * 2) + $gutter-width;
$three-quarter-width: ($quarter-width * 3) + ($gutter-width * 2);
$full-width: ($twelfth-width * 12) + ($gutter-width * 11);

// Cross-browser

@mixin box-shadow($args) {
	-moz-box-shadow: $args;
	-webkit-box-shadow: $args;
	box-shadow: $args;
}

@mixin box-sizing($args) {
	-moz-box-sizing: $args;
	box-sizing: $args;
}

@mixin linear-gradient($start: transparent, $end: false, $position: top) {
	@if $end == false {$end: $start;}
	background: mix($start, $end);
	background: -webkit-linear-gradient($position, $start, $end);
	background: -moz-linear-gradient($position, $start, $end);
	background: linear-gradient($position, $start, $end);
}

@mixin radial-gradient($args) {
	background: -moz-radial-gradient($args);
	background: -webkit-radial-gradient($args);
	background: radial-gradient($args);
}

@mixin transition($args) {
	-moz-transition: $args;
	-webkit-transition: $args;
	transition: $args;
}

// Utility

@mixin contain-floats {
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}

@mixin vertical-stripe($left-color: transparent, $left-width: 50%, $right-color: transparent) {
	background: mix($left-color, $right-color);
	background: -moz-linear-gradient(left, $left-color, $left-color $left-width, $right-color $left-width, $right-color);
	background: -webkit-linear-gradient(left, $left-color, $left-color $left-width, $right-color $left-width, $right-color);
	background: linear-gradient(left, $left-color, $left-color $left-width, $right-color $left-width, $right-color);
}

@mixin trim-child-margins {
	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}
