@import "constants";

$text-color: rgb(26, 26, 26);
$text-color-off: transparentize($text-color, 0.33);
$paper-color: rgb(243, 241, 237);
$paper-color-off: transparentize($paper-color, 0.25);

#app .details {
	margin: 40px 0;

	> nav {
		> ul {
			margin: 0;
			overflow: hidden;
			padding: 0;
			position: relative;
			width: 100%;
			word-spacing: -0.33em;

			&:before {
				background: $paper-color-off;
				bottom: 0;
				content: " ";
				height: 1em;
				left: 0;
				padding: 15px 0 10px;
				position: absolute;
				width: 100%;
				z-index: -1;
			}

			> li {
				display: inline-block;
				margin-left: 20px;
				word-spacing: normal;

				&:first-child {
					margin-left: 0;
				}

				> a {
					@include box-sizing(border-box);
					color: $text-color-off;
					display: block;
					font-weight: bold;
					letter-spacing: 1px;
					padding: 15px 0 10px;
					text: {
						align: center;
						transform: uppercase;
					};
					width: 220px;

					&.active {
						background: $paper-color;
						border-radius: 3px 3px 0 0;
						color: $text-color;
						opacity: 1;
						padding-top: 20px;
					}
				}
			}
		}
	}

	> section {
    @include contain-floats;
  	background: $paper-color;
		color: $text-color;
		display: none;
		padding: 30px;

		&.active {
			display: block;
		}

		> .image {
			@include box-sizing(border-box);
			border: 5px solid $white;
      box-shadow: 0 1px 3px transparentize($black, 0.5);
			float: left;
			height: 340px;
			margin-right: 20px;
			width: 430px;

      [data-page] {
        display: none;

        &.active {
          display: block;
        }
      }
		}

		> .content {
			float: left;
      width: 430px;

      > nav {
        > ul {
          margin: 0;
          padding: 0;

          > li {
            display: inline-block;

            a {
              display: block;
              text-decoration: none;
            }
          }
        }
      }

      > section[data-page] {
        display: none;

        &.active {
          display: block;
        }
      }
		}
	}
}
