@import "constants";

$text-color: rgb(26, 26, 26);
$text-color-off: rgb(110, 110, 100);
$paper-color: rgb(243, 241, 237);
$paper-color-off: rgb(200, 200, 190);

$panel-padding: 30px;
$panel-column: $half-width - $panel-padding;

@mixin details-button {
  @include box-shadow(0 1px 0 $white);
  @include linear-gradient(#e4e2dc, #d5d3cd);
  border: 1px solid darken($paper-color-off, 10%);
  color: $text-color-off;
  cursor: pointer;
  display: inline-block;
  font: {
    family: inherit;
    size: inherit;
    weight: bold;
  };
  letter-spacing: 1px;
  padding: 8px 20px 5px;
  text: {
    decoration: none;
    shadow: 0 1px 0 $white;
    transform: uppercase;
  };

  &.active {
    @include linear-gradient($text-color-off);
    color: $paper-color;
    text-shadow: none;
  }
}

#app .details {
  font-size: 13px;
  line-height: 18px;
  margin: 40px 0;

  [data-page] {
    display: none;

    &.active {
      display: block;
    }
  }

  > nav {
    > ul {
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: 100%;

      &:before {
        background: $paper-color-off;
        bottom: 0;
        content: " ";
        height: 1em;
        left: 0;
        padding: 10px 0 10px;
        position: absolute;
        width: 100%;
        z-index: -1;
      }

      > li {
        display: inline-block;
        float: left;
        margin-left: $gutter-width;

        &:first-child {
          margin-left: 0;
        }

        > a {
          @include box-sizing(border-box);
          border-radius: 3px 3px 0 0;
          color: $text-color-off;
          display: block;
          font-weight: bold;
          letter-spacing: 1px;
          padding: 15px 0 5px;
          text: {
            align: center;
            transform: uppercase;
          };
          width: $quarter-width;

          &.active {
            background: $paper-color;
            color: $text-color;
            opacity: 1;
          }
        }
      }
    }
  }

  > section {
    @include contain-floats;
    background: $paper-color;
    color: $text-color;
    padding: $panel-padding;

    > .samples {
      text-align: center;

      img,
      .image {
        @include box-sizing(border-box);
        border: 5px solid $white;
        box-shadow: 0 1px 3px transparentize($black, 0.5);
        max-width: 100%;
      }

      .sample-player {
        @include details-button;
        margin-top: 20px;
      }
    }

    > .content {
      float: left;
      width: $panel-column;
      margin-left: $gutter-width;

      &:first-child {
        margin-left: 0;
      }

      > nav {
        > ul {
          margin: 0;
          padding: 0;

          > li {
            display: inline-block;

            a {
              @include details-button;
            }
          }
        }
      }

      > section {
        > .heading {
          font-weight: bold;
          letter-spacing: 1px;
          margin: 2em 0 1em;
          text-transform: uppercase;
        }

        > p {
          margin: 1em 0;
        }

        > nav {
          > ul {
            margin: 0;
            padding: 0 1em;

            > li {
              display: block;

              > a {
                font-weight: bold;
                color: $text-color-off;

                &.active {
                  color: $text-color;
                }
              }
            }
          }
        }
      }
    }
  }
}
