@import "constants";

#field-guide {
	> .samples {
		> iframe {
			border: 0;
			height: 340px;
			width: 100%;
		}
	}

	> .content {
		> section {
			font: {
				size: 24px;
				weight: lighter;
			};
			margin-bottom: 24px;

			> header {
				font-size: 11px;
				font-weight: bold;
				text-transform: uppercase;
			}

			> .field {
				line-height: 20px;
			}
		}
	}
}
