@import "constants";
@import "sonogram-player";
@import "sonogram-classifier";
@import "details";
@import "lib/zooniverse-bar.css";

html {
	background: #000;
	color: $white;
	font: 12px Titillium, "Helvetica Neue", Arial, sans-serif;
	overflow-y: scroll; // Force scroll bar to prevent jumping.

	> body {
		margin: 0;
	}
}

// Only show the current translation.
[lang="en"] [lang="de"], [lang="en"] [lang="pl"],
[lang="de"] [lang="en"], [lang="de"] [lang="pl"],
[lang="pl"] [lang="en"], [lang="pl"] [lang="de"] {
	display: none;
}

#zooniverse-bar {
	position: relative;
	z-index: 2;
}

// Parallax backgrounds (see parallax.coffee)
[data-parallax-multiplier] {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;

	&#road-bg {
		background: url("road.jpg") center 0 no-repeat;
	}

	&#bats-bg {
		background: url("bats.png") center 0 no-repeat;
		opacity: 0.67;
	}
}

#app {
	@include contain-floats;
	margin: 0 auto 50px;
	max-width: 960px; // Width of the sonograms
	min-width: 300px;
	position: relative;
	width: 75%;

	> header {
		background: url("rule.png") center bottom no-repeat;

		> nav {
			font-size: 16px;
			padding: 70px 0 40px;
			position: relative;

			> ul {
				display: table;
				border: 0;
				border-collapse: collapse;
				margin: 0;
				padding: 0;
				position: relative;
				width: 100%;
				z-index: 1;

				@media (max-width: 550px) {
					display: block;
				}

				> li {
					display: table-cell;
					padding: 0 10px;
					text-align: center;
					width: 1%;

					&:first-child {
						padding: 0;
						text-align: left;
					}

					&.logo {
						width: 5%;

						> a {
							display: block;

							> img {
								vertical-align: -45px;
								width: 100%;
								max-width: 213px;
								min-width: 140px;

								@media (max-width: 550px) {
									min-width: 0;
									width: 33%;
								}
							}
						}
					}

					&:last-child {
						padding: 0;
						text-align: right;
					}

					@media (max-width: 550px) {
						background: url("rule.png") center top no-repeat;
						display: block !important;
						text-align: center !important;
						width: auto !important;

						&:first-child {
							background: none;
						}
					}

					> a {
						color: inherit;
						padding: 10px 0;
						text-decoration: none;
						text-transform: uppercase;

						&:hover,
						&.active {
							color: $gold;
						}

						@media (max-width: 550px) {
							display: inline-block;
							padding: 15px 0 10px;
						}
					}
				}
			}
		}
	}

	> #main {
		background: url("rule.png") center bottom no-repeat;
		margin-bottom: 20px;
		position: relative;

		// Main pages
		> section {
			@include transition(#{
				left 0.25s ease-in-out,
				opacity 0.25s ease-in-out
			});
			left: 0;
			max-height: 100%;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 100%;

			&.active {
				float: left;
				opacity: 1;
				overflow: visible;
				position: relative;
				z-index: 1;
			}

			&.before {
				left: -16.67%;
			}

			&.after {
				left: 16.67%;
			}

			// Second-level tabs
			> section {
				display: none;

				&.active {
					display: block;
				}
			}

			> header {
				> nav {
					font-size: 14px;

					> ul {
						padding: 0;

						> li {
							display: inline-block;

							> a {
								background: $white-trans-medium;
								color: $black;
								display: block;
								padding: 5px 10px;
								text-decoration: none;
								text-transform: uppercase;

								&:hover {
									background: $white-trans-low;
								}

								&.active {
									background: $gold;
								}
							}
						}
					}
				}
			}
		}

		.primary {
			float: left;
			max-width: 33%;
		}

		.secondary {
			float: right;
			max-width: 33%;
		}

		h2 {
			font: {
				size: 24px;
				weight: normal;
			}
			text-transform: uppercase;
		}

		h3 {
			font: {
				size: 16px;
				weight: normal;
			}
			text-transform: uppercase;
		}

		p {
			margin: 2em 0;
		}

		a.play {
			// TODO: Background image
			font-size: 12px;
		}
	}

	a {
		color: $gold;
		text-decoration: none;

		img {
			border: 0;
		}
	}
}
