@import "constants";
@import "details";
@import "home";
@import "sonogram-player";
@import "sonogram-classifier";
@import "field-guide";
@import "profile";
@import "lib/zooniverse-bar.css";

html {
	background: url("background-noise.jpg"); // TODO: Gradient
	color: $white;
	font: 12px Titillium, "Helvetica Neue", Arial, sans-serif;
	overflow-y: scroll; // Force scroll bar to prevent jumping.

	> body {
		margin: 0;

		&:before {
			$barely-white: transparentize($white, 0.90);
			$not-white: transparentize($white, 1);

			$gradient-width: $full-width * 1.5;
			$gradient-half-width: $gradient-width / 2;

			@include radial-gradient(#{$barely-white, $not-white, $not-white});
			content: " ";
			height: $gradient-width;
			left: 50%;
			margin: {
				left: -$gradient-half-width;
				top: -$gradient-half-width;
			};
			position: fixed;
			top: 50%;
			width: $gradient-width;
		}

		> header {
			margin: 10px 0;
			position: relative;
			z-index: 5;

			> nav {
				position: relative;

				> ul {
					@include contain-floats;
					margin: 0;
					padding: 0;
					text-align: center;

					> li {
						display: inline-block;

						&:first-child {
							margin-left: 0;
						}

						> a {
							color: inherit;
							display: block;
							font-size: 15px;
							letter-spacing: 1px;
							padding: 20px 35px;
							text: {
								decoration: none;
								transform: uppercase;
							};

							&:hover,
							&.active {
								color: $gold;
							}

							> .logo {
								vertical-align: -25px;
								width: 120px;
							}
						}
					}
				}
			}
		}
	}
}

// Only show the current translation.
[lang="en"] [lang="de"], [lang="en"] [lang="pl"],
[lang="de"] [lang="en"], [lang="de"] [lang="pl"],
[lang="pl"] [lang="en"], [lang="pl"] [lang="de"] {
	display: none;
}

// TODO: Shouldn't this should be built in?
#zooniverse-bar {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 10;
}

#app {
	@include contain-floats;
	@include transition(margin-top 0.25s ease-in-out);
	margin: 0 auto $twelfth-width;
	padding: 1px 0;
	position: relative;
	width: $full-width;
	z-index: 3;

	> #main {
		@include contain-floats;
		margin-bottom: 20px;
		position: relative;

		// Main pages
		// TODO: Height limit of inactive pages isn't quite right.
		> section {
			@include transition(#{
				left 0.25s ease-in-out,
				max-height 1s ease-in-out,
				opacity 0.25s ease-in-out
			});
			left: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 100%;

			&.active {
				float: left;
				opacity: 1;
				overflow: visible;
				position: relative;
				z-index: 1;
			}

			&.before {
				left: -16.67%;
			}

			&.after {
				left: 16.67%;
			}
		}
	}
}

.columns {
	@include contain-floats;
	clear: both;

	> * {
		@include trim-child-margins;
		float: left;
		margin-left: $gutter-width;

		&:first-child {
			margin-left: 0;
		}
	}

	&.two > * {
		width: $half-width;
	}

	&.three > * {
		width: $third-width;
	}

	&.four > * {
		width: $quarter-width;
	}
}

.bat-thumbnail {
	@include box-sizing(border-box);
	background: $black;
	border: 1px solid white;
	border-radius: 3px;
	box-shadow: 0 2px 3px transparentize($black, 0.5);
	color: $white;
	font-style: italic;
	padding: ($gutter-width / 2) 0;
	text-align: center;
}

.action {
	@include box-sizing(border-box);
	@include linear-gradient($white, darken($white, 25%));
	border-radius: 3px;
	color: $black;
	display: inline-block;
	font: {
		size: 12px;
		weight: bold;
	};
	padding: 3px $gutter-width 1px;
}

h2 {
	font: {
		size: 32px;
		weight: inherit;
	};
	margin: 0.5em 0;
}

h3 {
	font: {
		size: 22px;
		weight: inherit;
	};
	margin: 0.5em 0;
}

h4 {
  font-weight: bold;
  letter-spacing: 1px;
  margin: 2em 0 1em;
  text-transform: uppercase;
}

hr {
	color: inherit;
	border: 1px solid transparentize($white, 0.5) {
		width: 1px 0 0 0;
	};
	margin: 40px 0;
}

p {
	font-size: 14px;
	line-height: 20px;
  margin: 1em 0;
}

img,
.image {
  max-width: 100%;

  &.framed {
	  @include box-sizing(border-box);
	  background: $black;
	  border: 5px solid $white;
	  box-shadow: 0 1px 3px transparentize($black, 0.5);
	  text-align: center;

	  > img {
	  	margin: $gutter-width / 2;
	  }
	}
}

a {
	color: $gold;
	text-decoration: none;

	img {
		border: 0;
	}
}

.todo {
	outline: 2px dashed red;
}

$titillium-dir: "lib/titillium";

@font-face {
	font-family: "Titillium";
	font-weight: 100;
	font-style: normal;
	src: url($titillium-dir + "/TitilliumText22L001-webfont.eot");
	src:
		url($titillium-dir + "/TitilliumText22L001-webfont.eot?#iefix") format("embedded-opentype"),
		url($titillium-dir + "/TitilliumText22L001-webfont.woff") format("woff"),
		url($titillium-dir + "/TitilliumText22L001-webfont.ttf") format("truetype"),
		url($titillium-dir + "/TitilliumText22L001-webfont.svg#TitilliumText22LThin") format("svg");
}

@font-face {
	font-family: "Titillium";
	font-weight: 400;
	font-style: normal;
	src: url($titillium-dir + "/TitilliumText22L002-webfont.eot");
	src:
		url($titillium-dir + "/TitilliumText22L002-webfont.eot?#iefix") format("embedded-opentype"),
		url($titillium-dir + "/TitilliumText22L002-webfont.woff") format("woff"),
		url($titillium-dir + "/TitilliumText22L002-webfont.ttf") format("truetype"),
		url($titillium-dir + "/TitilliumText22L002-webfont.svg#TitilliumText22LLight") format("svg");
}

@font-face {
	font-family: "Titillium";
	font-weight: 700;
	font-style: normal;
	src: url($titillium-dir + "/TitilliumText22L004-webfont.eot");
	src:
		url($titillium-dir + "/TitilliumText22L004-webfont.eot?#iefix") format("embedded-opentype"),
		url($titillium-dir + "/TitilliumText22L004-webfont.woff") format("woff"),
		url($titillium-dir + "/TitilliumText22L004-webfont.ttf") format("truetype"),
		url($titillium-dir + "/TitilliumText22L004-webfont.svg#TitilliumText22LMedium") format("svg");
}
