@import "constants";

#profile {
  $info-column-color: #f3f1ed;
  $stats-column-color: #e7e5e0;
  $profile-border-color: #d0cec9;

  color: $black;

  > .sign-in-or-up {}

  > .profile {
    @include contain-floats;
    @include vertical-stripe($info-column-color, $two-third-width, $stats-column-color);
    display: none;

    > .map {
      display: none;
      height: 250px;
    }

    > .info {
      @include box-sizing(border-box);
      float: left;
      padding: $gutter-width ($gutter-width * 2);
      width: $two-third-width;

      > .favorites {
        > ul {
          display: none;
          margin: 0;
          padding: 0;

          > li {
            @include contain-floats;
            border-top: 1px solid transparentize($gray, 0.5);
            margin-bottom: $gutter-width;
            padding-top: $gutter-width;
            display: block;

            > h4 {
              font-size: 20px;
              letter-spacing: 0;
              margin: 0;
              text-transform: none;
            }

            > img {
              float: left;
              margin-right: $gutter-width;
              width: 200px;
            }

            > .social {
              float: right;
            }
          }
        }
      }
    }

    > .stats {
      float: right;
      position: relative;
      width: $third-width + $gutter-width;
      z-index: 2;

      > section {
        padding: $gutter-width;
        border-bottom: 3px solid $profile-border-color;

        &.recent {
          display: none;

          > .location {
            font-size: 30px;
          }
        }

        &.findings {
          font-weight: bold;

          > div {
            margin-bottom: $gutter-width / 2;

            > .value {
              font-size: 30px;
            }
          }
        }

        &.groups {
          > ul {
            display: none;
          }
        }
      }
    }

    h3 {
      color: $red;
      font: {
        size: 14px;
        weight: bold;
      };
    }

    a {
      color: inherit;
      border-bottom: 1px dotted transparentize($gray, 0.5);
    }
  }

  &.has-favorites {
    > .profile > .info > .favorites {
      > .none {
        display: none;
      }

      > ul {
        display: block;
      }
    }
  }

  &.has-recents {
    > .profile {
      > .map {
        display: block;
      }

      > .stats {
        &:before {
          bottom: 100%;
          border: {
            color: transparent transparent $stats-column-color;
            style: solid;
            width: 0 20px 20px;
          };
          content: " ";
          height: 0;
          left: $gutter-width;
          position: absolute;
          width: 0;
        }

        > .recent {
          display: block;
        }
      }
    }
  }

  &.has-associations {
    > .profile > .stats > .associations {
      .none {
        display: none;
      }

      .groups {
        display: block;
      }
    }
  }

  &.signed-in {
    > .sign-in-or-up {
      display: none;
    }

    > .profile {
      display: block;
    }
  }
}
