@import "constants";

.sonogram-classifier {
	@include box-sizing(border-box);
	background: transparentize($black, 0.33);
	border: 1px solid;
	color: $gray;
	position: relative;

	> .image {
		position: relative;

		> .axis {
			@include box-sizing(border-box);
			border-bottom: 1px solid;
			color: $gray-lighter;
			font-size: 9px;
			height: 100%;
			opacity: 0.33;
			position: absolute;
			right: 101%;
			top: 0;
			width: 15px;

			> .space {
				@include box-sizing(border-box);
				border-top: 1px solid;
				height: 8.33%;
				margin-left: 25%;
				position: relative;
				width: 50%;

				&:first-child {
					margin-left: 0;
					width: 100%;
				}

				> .label {
					line-height: 1;
					margin-right: 5px;
					position: absolute;
					right: 100%;
					top: -0.5em;
					white-space: nowrap;
				}
			}

			&:after {
				border-right: 1px solid;
				content: " ";
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 50%;
			}
		}

		> .sonogram {
			display: block;
			width: 100%;
		}

		> .seek-line {
			background: transparentize($gold, 0.5);
			display: none;
			height: 100%;
			left: 0;
			margin-left: -1px;
			position: absolute;
			top: 0;
			width: 2px;
		}

		> .frequency-selector {
			> .cover {
				background: transparentize($black, 0.2);
				display: none;
				left: 0;
				position: absolute;
				width: 100%;

				> .workflow {
					color: $white;
					left: 0;
					margin: 20px 0 50px;
					position: absolute;
					text-align: center;
					width: 100%;

					> .back {
						background: transparent;
						border: 0;
						color: inherit;
						cursor: pointer;
						left: 0;
						position: absolute;
						top: 0;
					}

					> .question {
						font: {
							size: 18px;
							weight: bold;
						}
						margin: 25px 0;
						text-transform: uppercase;
					}

					> .answers {
						> .answer {
							background: transparent;
							border: 1px solid $gray-light {
								width: 1px 0 1px 1px
							};
							color: inherit;
							cursor: pointer;
							font: {
								family: inherit;
								size: 40px;
							}
							padding: 15px 20px 10px;
							text-transform: uppercase;

							@media (max-width: 900px) {
								font-size: 30px;
							}

							&:first-child {
								border-left: 0
							}
						}
					}
				}

				> .handle {
					background: $gray-light;
					border-top: 1px solid $gray-lighter;
					cursor: ns-resize;
					height: 5px;
					position: absolute;
					left: 0;
					width: 100%;
					z-index: 1;

					&:after {
						border: 8px solid transparentize($gray-light, 1);
						content: " ";
						display: block;
						height: 0;
						left: 50%;
						margin-left: -8px;
						position: absolute;
						width: 0;
					}
				}

				&.high {
					top: 0;

					> .delete {
						background: transparent;
						border: 0;
						bottom: 10px;
						color: $white;
						cursor: pointer;
						height: 20px;
						line-height: 20px;
						opacity: 0.5;
						padding: 0;
						position: absolute;
						right: 0;
						text-align: center;
						width: 20px;
						z-index: 2;

						&:hover {
							opacity: 1;
						}
					}

					> .workflow {
						bottom: 0
					}

					> .handle {
						bottom: 0;

						&:after {
							border-bottom-color: $gray-light;
							bottom: 100%;
						}
					}
				}

				&.low {
					bottom: 0;

					> .workflow {
						top: 0
					}

					> .handle {
						top: 0;

						&:after {
							border-top-color: $gray-light;
							top: 100%;
						}
					}
				}
			}

			> .times {
				left: 0;
				pointer-events: none;
				position: absolute;
				width: 100%;

				> .time-selector {
					background: transparentize(yellow, 0.67);
					height: 100%;
					position: absolute;

					> .delete {
						background: transparent;
						border: 0;
						cursor: pointer;
						height: 10px;
						line-height: 10px;
						opacity: 0;
						padding: 0;
						position: absolute;
						right: 10px;
						text-align: center;
						top: 5px;
						width: 10px;
						z-index: 1;
					}

					> .handle {
						cursor: ew-resize;
						height: 100%;
						position: absolute;
						top: 0;
						width: 5px;

						&.start {
							left: 0;
						}

						&.end {
							right: 0;
						}
					}

					&:hover {
						> .delete {
							opacity: 0.5;

							&:hover {
								opacity: 1;
							}
						}

						> .handle {
							background: transparentize($gray, 0.5);
						}
					}
				}
			}

			&[data-source="bat"] > .times > .time-selector {
				background: transparentize(black, 0.67)
			}

			&[data-source="insect"] > .times > .time-selector {
				background: transparentize(green, 0.67)
			}

			&[data-source="machine"] > .times > .time-selector {
				background: transparentize(blue, 0.67)
			}

			&.active {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;

				> .cover {
					display: block;
				}

				> .times {
					@include box-shadow(1px 1px 5px $black inset);
					pointer-events: all;
				}
			}
		}
	}

	> .seek {
		background: $gray-dark;

		> .track {
			height: 6px;
			position: relative;

			> .fill {
				background: $gold;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 0; // Updates on play
			}

			> .thumb {
				display: none;
			}
		}
	}

	> .controls {
		text-align: right;

		button,
		.field {
			@include box-sizing(content-box);
			background: transparent;
			border: 0 {
				left: 1px solid;
			};
			color: inherit;
			line-height: 1;
			margin: 0;
			padding: 13px 17px;
			vertical-align: top;
		}

		button {
			cursor: pointer;
			font: {
				family: inherit;
				size: inherit;
			};
			text-transform: uppercase;
		}

		> .play,
		> .pause {
			border: {
				left: 0;
				right: 1px solid;
			};
			float: left;
		}

		> .pause {
			display: none;
		}

		> .details {
			display: inline-block;

			> .field {
				background: url("sonogram-details-icons.png") 0 0 no-repeat;
				display: inline-block;
				height: 1em;
				position: relative;
				width: 4px;

				&.location {
					background-position: 0px center;
				}

				&.environment {
					background-position: -35px center;
					width: 8px;
				}

				&.date {
					background-position: -74px center;
				}

				&.time {
					background-position: -108px center;
				}

				> .icon {
					height: 15px;
					float: left;
				}

				> .value {
					@include transition(#{opacity 0.25s ease-in-out, top 0.25s ease-in-out});
					background: $gold;
					color: $black;
					font: {
						size: 10px;
						weight: bold;
					};
					letter-spacing: 1px;
					opacity: 0;
					padding: 6px 18px;
					position: absolute;
					left: 0;
					text-transform: uppercase;
					top: 67%;
					white-space: nowrap;

					&:before {
						background: transparent;
						border: 10px solid transparentize($gold, 1) {
							left-color: $gold;
						};
						content: " ";
						display: block;
						position: absolute;
						top: -5px;
						left: 0;
					}
				}

				&:hover {
					> .value {
						opacity: 1;
						top: 100%;
						z-index: 1;
					}
				}
			}
		}

		> .actions {
			display: inline-block;

			> button {}
		}
	}

	&.playing {
		> .controls {
			> .play {
				display: none;
			}

			> .pause {
				display: inline-block;
			}
		}

		> .image > .seek-line {
			display: block;
		}
	}

	&.seeking > .image > .seek-line {
		display: block;
	}
}
