@import "constants";

.sonogram-classifier {
	> .image {
		> .frequency-selector {
			> .cover {
				background: transparentize($black, 0.2);
				display: none;
				left: 0;
				position: absolute;
				width: 100%;

				> .handle {
					background: $gray-light;
					border-top: 1px solid $gray-lighter;
					cursor: ns-resize;
					height: 5px;
					position: absolute;
					left: 0;
					width: 100%;
					z-index: 1;

					&:after {
						border: 8px solid transparentize($gray-light, 1);
						content: " ";
						display: block;
						height: 0;
						left: 50%;
						margin-left: -8px;
						position: absolute;
						width: 0;
					}
				}

				&.high {
					top: 0;

					> .delete {
						background: transparent;
						border: 0;
						bottom: 10px;
						color: $white;
						cursor: pointer;
						height: 20px;
						line-height: 20px;
						opacity: 0.5;
						padding: 0;
						position: absolute;
						right: 0;
						text-align: center;
						width: 20px;
						z-index: 2;

						&:hover {
							opacity: 1;
						}
					}

					> .handle {
						bottom: 0;

						&:after {
							border-bottom-color: $gray-light;
							bottom: 100%;
						}
					}
				}

				&.low {
					bottom: 0;

					> .handle {
						top: 0;

						&:after {
							border-top-color: $gray-light;
							top: 100%;
						}
					}
				}
			}

			> .times {
				cursor: ew-resize;
				left: 0;
				pointer-events: none;
				position: absolute;
				width: 100%;

				> .time-selector {
					background: transparentize(yellow, 0.67);
					cursor: move;
					height: 100%;
					pointer-events: auto;
					position: absolute;

					> .delete {
						background: transparent;
						border: 0;
						cursor: pointer;
						height: 10px;
						line-height: 10px;
						opacity: 0;
						padding: 0;
						position: absolute;
						right: 10px;
						text-align: center;
						top: 5px;
						width: 10px;
						z-index: 1;
					}

					> .handle {
						cursor: ew-resize;
						height: 100%;
						position: absolute;
						top: 0;
						width: 5px;

						&.start {
							left: 0;
						}

						&.end {
							right: 0;
						}
					}

					&:hover {
						> .delete {
							opacity: 0.5;

							&:hover {
								opacity: 1;
							}
						}

						> .handle {
							background: transparentize($gray, 0.5);
						}
					}
				}
			}

			&[data-source="bat"] > .times > .time-selector {
				background: transparentize(black, 0.67)
			}

			&[data-source="insect"] > .times > .time-selector {
				background: transparentize(green, 0.67)
			}

			&[data-source="machine"] > .times > .time-selector {
				background: transparentize(blue, 0.67)
			}

			&.active {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;

				> .cover {
					display: block;
				}

				> .times {
					@include box-shadow(1px 1px 5px $black inset);
					pointer-events: all;
				}
			}
		}
	}

	> .workflows {
		border-left: 2px solid $gray;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		width: 230px;

		> .workflow {
			display: none;

			&.selected {
				display: block;
			}
		}
	}
}
