@import "constants";

.sound-classifier {
	@include box-sizing(border-box);
	background: transparentize($black, 0.33);
	border: 1px solid;
	color: $gray;
	position: relative;

	> .image {
		position: relative;

		> .axis {
			@include box-sizing(border-box);
			border-bottom: 1px solid;
			color: $gray-lighter;
			font-size: 9px;
			height: 100%;
			opacity: 0.33;
			position: absolute;
			right: 101%;
			top: 0;
			width: 15px;

			> .space {
				@include box-sizing(border-box);
				border-top: 1px solid;
				height: 8.33%;
				margin-left: 25%;
				position: relative;
				width: 50%;

				&:first-child {
					margin-left: 0;
					width: 100%;
				}

				> .label {
					line-height: 1;
					margin-right: 5px;
					position: absolute;
					right: 100%;
					top: -0.5em;
					white-space: nowrap;
				}
			}

			&:after {
				border-right: 1px solid;
				content: " ";
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 50%;
			}
		}

		> .sonogram {
			display: block;
			width: 100%;
		}

		> .seek-line {
			background: transparentize($gold, 0.5);
			display: none;
			height: 100%;
			left: 0;
			margin-left: -1px;
			position: absolute;
			top: 0;
			width: 2px;
		}
	}

	> .seek {
		background: $gray-dark;

		> .track {
			height: 6px;
			position: relative;

			> .fill {
				background: $gold;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 0; // Updates on play
			}

			> .thumb {
				display: none;
			}
		}
	}

	> .controls {
		text-align: right;

		button,
		.field {
			@include box-sizing(content-box);
			background: transparent;
			border: 0 {
				left: 1px solid;
			};
			color: inherit;
			line-height: 1;
			margin: 0;
			padding: 13px 17px;
			vertical-align: top;
		}

		button {
			cursor: pointer;
			font: {
				family: inherit;
				size: inherit;
			};
			text-transform: uppercase;
		}

		> .play,
		> .pause {
			border: {
				left: 0;
				right: 1px solid;
			};
			float: left;
		}

		> .pause {
			display: none;
		}

		> .details {
			display: inline-block;

			> .field {
				background: url("sonogram-details-icons.png") 0 0 no-repeat;
				display: inline-block;
				height: 1em;
				position: relative;
				width: 4px;

				&.location {
					background-position: 0px center;
				}

				&.environment {
					background-position: -35px center;
					width: 8px;
				}

				&.date {
					background-position: -74px center;
				}

				&.time {
					background-position: -108px center;
				}

				> .icon {
					height: 15px;
					float: left;
				}

				> .value {
					@include transition(#{opacity 0.25s ease-in-out, top 0.25s ease-in-out});
					background: $gold;
					color: $black;
					font: {
						size: 10px;
						weight: bold;
					};
					letter-spacing: 1px;
					opacity: 0;
					padding: 6px 18px;
					position: absolute;
					left: 0;
					text-transform: uppercase;
					top: 67%;
					white-space: nowrap;

					&:before {
						background: transparent;
						border: 10px solid transparentize($gold, 1) {
							left-color: $gold;
						};
						content: " ";
						display: block;
						position: absolute;
						top: -5px;
						left: 0;
					}
				}

				&:hover {
					> .value {
						opacity: 1;
						top: 100%;
						z-index: 1;
					}
				}
			}
		}

		> .actions {
			display: inline-block;

			> button {}
		}
	}

	&.playing {
		> .controls {
			> .play {
				display: none;
			}

			> .pause {
				display: inline-block;
			}
		}

		> .image > .seek-line {
			display: block;
		}
	}

	&.seeking > .image > .seek-line {
		display: block;
	}
}
