@import "constants";

.step {
  @include transition(#{
    left 0.33s ease-in-out,
    top 0.33s linear,
    width 0.33s ease-in-out
  });
  background: $gray;
  // box-shadow: 0 2px 3px transparentize($black, 0.5);
  color: $white;
  font-weight: bold;
  padding: ($gutter-width / 2) $gutter-width;
  position: absolute;

  > .continue {
    text-align: right;

    > button {
      background: transparentize($black, 0.5);
      border: 0;
      color: inherit;
      font: {
        family: inherit;
        size: inherit;
        weight: bold;
      };
      letter-spacing: 1px;
      padding: 10px 20px 7px;
      text-transform: uppercase;
    }
  }
}